<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.door.match.mapper.RegUserMapper">

    <select id="selectUserByOpenid" parameterType="java.lang.String" resultType="RegUser">
        SELECT * FROM reg_user WHERE openid =#{openid}
    </select>
    <select id="reqSalarkRank"  resultType="SalaryRank">
        SELECT id,salary FROM salary_rank order  by sequence,id
    </select>
    <select id="reqProfessionByParentID"  resultType="Profession">
        SELECT id,parentid,`name`,sequence FROM profession where parentid =#{parentid} order  by sequence,id
    </select>
    <select id="reqAgeRank"  resultType="AgeRank">
        SELECT id,agerank,minage,maxage FROM age_rank  order  by id
    </select>
    <select id="selectISOKByRuserid" resultType="java.lang.Integer">
        SELECT firstinfostatu FROM reg_user WHERE id =#{id}
    </select>
    <insert id="insertUser" parameterType="RegUser">
        insert into reg_user(openid,`name`,sex,logo) values(#{openid},#{nickName},#{gender},#{avatarUrl})
    </insert>
    <select id="selectRUMByOpenid" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from reg_user_mapping where reguserid=(select id from reg_user where openid = #{openid})
    </select>
    <!--更新微信用户表-->
    <update id="updateRegUByOid" parameterType="ReqData" >
        update  reg_user
        set
          phone=#{contactway},
          birth=#{birth},
          address=#{address},
          sex=#{gender},
          height=#{myheight},
          income=#{salaryid},
          profession=#{jobid},
          education=#{education},
          married=#{relationship},
          house=#{house},
          car=#{car}
        where openid=#{openid}
    </update>
    <update id="updateRegUMapByOid" parameterType="ReqData" >
        update  reg_user_mapping
        set
          contact=#{contactway},
          sex2=#{gender},
          selfidea=#{heartwhite},
          viewofmarriage=#{marrymind},
          viewofconsume=#{feemind},
          viewoffuture=#{future},
          age_rank_id=#{agerank},
          address2=#{address2},
          heightmi=#{partnerheightmi},
          heightmx=#{partnerheightmx},
          income2=#{partnersalaryid},
          education2=#{partnereducat},
          married2=#{partnerrelat},
          house2=#{ishavehouse},
          car2=#{ishavecar}
        where id=#{id}
    </update>
    <insert id="insertRegUMapByOid" parameterType="ReqData">
        insert into reg_user_mapping(
        reguserid,
        contact,
        selfidea,
        viewofmarriage,
        viewofconsume,
        viewoffuture,
        sex2,
        age_rank_id,
        address2,
        heightmi,
        heightmx,
        income2,
        education2,
        married2,
        house2,
        car2)
        values(
           (select id from reg_user where openid=#{openid}),
           #{contactway},
           #{heartwhite},
           #{marrymind},
           #{feemind},
           #{future},
           #{gender},
           #{agerank},
           #{address2},
           #{partnerheightmi},
           #{partnerheightmx},
           #{partnersalaryid},
           #{partnereducat},
           #{partnerrelat},
           #{ishavehouse},
           #{ishavecar}
        )
    </insert>
</mapper>